@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


body {
    background-color: #DAF0EA;
    color: #3E8B7C;
    font-family: Nunito, sans-serif;
}

h1 {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    clear: both;
    margin-bottom: 20px;
}

.reset-button {
    margin-top: 15px;
    text-align: center;
}

.game-area {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
    width: 800px;
    justify-content: center;
    margin: 0 auto;
    perspective: 1000px;
}

.card {
    position: relative;
    height: 175px;
    width: 125px;
    border-radius: 5px;
    background-color: rgb(42, 187, 245);
    
}

.card-area {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    position: absolute;
    
}

.card:hover .car {
    animation: shake 0.5s;

    animation-iteration-count:infinite ;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.card.flipped .card-back {
    transform: rotateY(180deg);
    display: none;
}

.card.flipped .card-front {
    transform: rotateY(-180deg);
    display: block;
}

.card .card-front {
    display:none;
}

.car {
    position: absolute;
    width: 120px;
    height: 75px;
    margin-top: 100px;
    margin-left: 3px;
    backface-visibility: hidden;
    
}

.sun {
    width:100px;
    height:100px;
    transform:translate(82px, -38px);
}

.logo {
    width: 100%;
    margin-top: 35px;
    align-items: center;
    text-align: center;
    position: absolute;
    transform: rotateY(180deg);
}

.holden-logo {
    width:100%;
    margin:0 auto;
    margin-top: 40px;
    scale: 110%;
}

.mini-logo {
    width: 85%;
    scale: 115%;
    margin-left: 9px;
    margin-top: 60px;
}

.mazda-logo {
    scale: 85%;
}

.vw-logo {
    scale: 90%;
    margin-top: 25px;
}

.honda-logo {
    scale: 90%;
    margin-top: 30px;
}

.subaru-logo {
    scale: 95%;
    margin-top: 50px;
}

.infiniti-logo {
    scale: 160%;
    transform:translateX(-5px);
    margin-left: 11px;
    margin-top: 55px;
}

.renault-logo {
    margin-top: 25px
}






