@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


body {
    background-color: #DAF0EA;
    color: #3E8B7C;
    font-family: Nunito, sans-serif;
}

h1 {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    clear: both;
}

.timer-flips-area {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    font-family: Nunito, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.flips {
    float: right;
}

.game-area {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
    width: 800px;
    justify-content: center;
    margin: 0 auto;
    perspective: 1000px;
}

.card {
    position: relative;
    height: 175px;
    width: 125px;
    border-radius: 5px;
}

.card-area {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    position: absolute;
    
}

.car {
    position: absolute;
    width: 165px;
    height: 105px;
    transform: rotate(270deg);
    margin-top: 35px;
    margin-right: 10px;
}

.logo {
    width: 100%;
    margin-top: 35px;
    align-items: center;
    text-align: center;
    position: absolute;
    transform: rotateY(180deg);
}

.card.flipped .card-back {
    transform: rotateY(180deg);
}

.card.flipped .card-front {
    transform: rotateY(-180deg);
}





