.timer-flips-area {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.flips {
    margin: 0 auto;
}

.game-area {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
    width: 800px;
    justify-content: center;
    margin: 0 auto;
}

.card {
    height: 175px;
    width: 125px;
    background-color: rgb(40, 175, 238);
    overflow: hidden;
}

.back-side {
    width: 165px;
    height: 105px;
    transform: rotate(270deg);
    margin-top: 35px;
    margin-right: 10px;
    display: flex;
}